In [1]:
import pandas as pd

In [3]:
df= pd.read_csv('csv/cities_internet_prices_2020.csv')

In [4]:
df.head()

,City,"""Region""","""Country""","""InternetPrice"""
0,New York City,"""New York""","""United States of America""",66.441395
1,"Washington, D.C.","""District of Columbia""","""United States of America""",60.590455
2,San Francisco,"""California""","""United States of America""",68.988824
3,Berlin,"""""","""Germany""",35.827084
4,Los Angeles,"""California""","""United States of America""",66.690222

In [5]:
# df['ColumnName'] = df['ColumnName'].apply(lambda x: x.replace('"', ''))

df.columns=df.columns.str.replace('[#,@,&, "]','')

/var/folders/7t/0gtlmn8s5cv7hcm0bl20pb4h0000gn/T/ipykernel_86919/3836696593.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns=df.columns.str.replace('[#,@,&, "]','')

In [6]:
df.head()

,City,Region,Country,InternetPrice
0,New York City,"""New York""","""United States of America""",66.441395
1,"Washington, D.C.","""District of Columbia""","""United States of America""",60.590455
2,San Francisco,"""California""","""United States of America""",68.988824
3,Berlin,"""""","""Germany""",35.827084
4,Los Angeles,"""California""","""United States of America""",66.690222

In [7]:
df['Region'] = df['Region'].apply(lambda x: x.replace('"', ''))

In [8]:
df['Country'] = df['Country'].apply(lambda x: x.replace('"', ''))

In [9]:
df.head()

,City,Region,Country,InternetPrice
0,New York City,New York,United States of America,66.441395
1,"Washington, D.C.",District of Columbia,United States of America,60.590455
2,San Francisco,California,United States of America,68.988824
3,Berlin,,Germany,35.827084
4,Los Angeles,California,United States of America,66.690222

In [10]:
df.to_csv('citiies_cleaned.csv', index = False)

In [11]:
# df['ColumnName'] = df['ColumnName'].str.replace(r'"', '')